.header{
		background-color: red;
		min-height: 70px;
}

.wrapper{

	overflow: hidden;
	border: 5px solid blue;
}
.contact{

	background-color: purple;
	min-height: 150px;
	width: 50%;
	float: right;
}
.blog{

	background-color: green;
	min-height: 150px;
	width: 50%;
	float: left;
}
.footer{

	background-color: black;
		min-height: 70px; 


}